<div id="home_background">
	<div id="signup">
		<h1>Sign Up</h1>

		<%= form_tag "/signup", method: "post" do %>
			<div id="signup_form">
				<%= label_tag :username, "Username " %>
				<%= text_field_tag :username %><br>
				<%= label_tag :email, "Email " %>
				<%= email_field_tag :email %><br>
				<%= label_tag :email2, "Re-enter Email " %>
				<%= email_field_tag :email2 %><br>
				<%= label_tag :password, "Password " %>
				<%= password_field_tag :password %><br>
				(password must be 6 characters long)<br>
				<%= label_tag :password2, "Re-enter Password " %>
				<%= password_field_tag :password2 %><br>
			</div>

			<%= submit_tag "Sign Up" %>
		<% end %>
	</div>
</div>