<h1>Events</h1>
<% if @events %>
	<% @events.each do |event| %>
		<p>
			<%= link_to event.title, event_path(event) %>
			<%= link_to "Attend", "/events/#{event.id}/attend" %>
			<% if event.creator_id == session[:user_id] %>
				<%= link_to "Edit Event", edit_event_path(event), method: "get" %>
			<% end %>
			<br>
			Description:<br><%= event.description %>
			<br><br>
			Date: <%= event.date.strftime('%B-%d-%Y') %>
			<br>
			Time: <%= event.time.strftime('%I:%M %P') %>
		</p>
	<% end %>
<% else %>
	There are no events to display.
<% end %>
<br><br>
<%= link_to "Add New Event", "events/new", method: "get" %>