<h1>Events</h1>
<% if @events %>
	<% @events.each do |event| %>
		<p>
			<%= link_to event.title, event_path(event) %>
			<br>
			Description:<br><%= event.description %>
			<br><br>
			Date: <%= event.date.strftime('%B-%d-%Y') %>
			<br>
			Time: <%= event.time.strftime('%I:%M %P') %>
		</p>

		<% if event.creator_id == session[:user_id] %>
			<%= link_to "Edit Event", edit_event_path(event), method: "get" %>
			<br><br>
		<% end %>
	<% end %>
<% else %>
	There are no events to display.
<% end %>

<%= link_to "Add New Event", "events/new", method: "get" %>