<p>
	Title: <%= @event.title %> 
	<br>
	Description:<br><%= @event.description %>
	<br><br>
	Date: <%= @event.date.strftime('%B-%d-%Y') %>
	<br>
	Time: <%= @event.time.strftime('%I:%M %P') %>
	<br>
	<div id="address">
	Address: <%= @event.address_1 %>
	<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	<% if @event.address_2 != "" %>
		<%= @event.address_2 %> 
		<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
	<% end %>
	<%= @event.city %>, <%= @event.state %>
	</div>
</p>

<p>
	<h2>Attendees</h2>
	<% attendees = @event.users %>
	<% attendees.each do |attendee| %>
		<p><%= link_to attendee.username, "/profile/#{attendee.username}" %></p>
	<% end %>
</p>

<% attending = false 
	@attendances.each do |attendance|
		if attendance.event_id == @event.id
			attending = true %>
			<%= link_to "Unattend", "/events/#{@event.id}/unattend" %>
		<% end
	end %>

<% if attending == false %>
	<%= link_to "Attend", "/events/#{@event.id}/attend" %>
<% end %>

<% if @event.creator_id == session[:user_id] %>
	<%= link_to "Edit Event", edit_event_path(@event), method: "get" %>
<% end %>