<p>
	Title: <%= @event.title %>
	<br>
	Description:<br><%= @event.description %>
	<br><br>
	Date: <%= @event.date.strftime('%B-%d-%Y') %>
	<br>
	Time: <%= @event.time.strftime('%I:%M %P') %>
	<br>
	<div id="address">
	Address: <%= @event.address_1 %>
	<br>
	<%= @event.address_2 %> 
	<br>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
	<%= @event.city %>, <%= @event.state %>
	</div>
</p>

<% if @event.creator_id == session[:user_id] %>
	<%= link_to "Edit Event", edit_event_path(@event), method: "get" %>
<% end %>