<!DOCTYPE html>
<html>
<head>
  <title>SocialCalendar</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<%= flash[:notice] if flash[:notice] %>
	<%= flash[:alert] if flash[:alert] %>
	<br>
	
	<% if session[:user_id] %>
		<%= link_to 'All Users', '/users', method: 'get' %>
		<%= link_to 'All Groups', '/groups', method: 'get' %>
		<%= link_to 'All Events', '/events', method: 'get' %>
		<%= link_to 'Your Profile', '/profile', method: 'get' %>
		<%= button_to 'Log Out', '/log_out', method: 'delete' %>
	<% end %>

	<%= yield %>

</body>
</html>
